#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22vh;
    width: 100%;
}

#msg {
    width: 100%;
    gap: 50px;
    font-size: 50px;
    height: 80px;
    word-spacing: 80px;
    margin-left: 62px;
}

.game-card {
    background-color: aquamarine;
    height: 800px;
}


.score-checker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: red;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1fr;
}

.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;

}

button {
    width: 375px;
    height: 375px;
    border-radius: 50%;
}

button:hover {
    opacity: .8;
    transition: .75s;
}

button:active {
    opacity: .4;
}

.footer {
    display: flex;
    background-color: black;
    flex-direction: column;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}