#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25vh;
}

h1 {
    color: red;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;

}

button {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}